@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --bg: #F0F0F0;
    --primary: #F59FCA;
    --display: #B8AFB4;
    --btn-area: #F5C7E3;
    --btn-light: #EAB7D5;
    --btn-dark: #F55B8F;
    --btn-darker: #CB5FA4;
    --dark: #000;
    --light: #fff;
    --shadow: rgba(0, 0, 0, 0.418);

    --btn-light-hover: #d196b9;
    --btn-dark-hover: #c94d76;
    --btn-darker-hover: #b35791;

    --display-dark: #4d4d4d;
    --primary-dark: #2e2e2e;
    --btn-area-dark: #494949;
    --btn-light-dark: #353535;
    --btn-dark-dark: #1d1d1d;
    --btn-darker-dark: #be7514;

    --btn-light-hover-dark: #424242;
    --btn-dark-hover-dark: #2c2c2c;
    --btn-darker-hover-dark: #ca8327;

    --font: "Orbitron", sans-serif;
}

* {
    font-family: var(--font);
    transition: 0.5s;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.light-theme {
    background-color: var(--bg);
}

body.dark-theme {
    background-color: var(--dark);
}

#theme {
    display: block;
    width: 50px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    transition: transform 0.5s ease;
}

.calculator {
    background-color: var(--primary);
    width: 450px;
    height: 600px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    border: 2px solid var(--dark);
    box-shadow: 2px 2px 15px var(--shadow);
}

.display {
    width: 92%;
    height: 15%;
    margin-inline: auto;
    background-color: var(--display);
    border-radius: 15px;
    border: 2px solid var(--dark);
    overflow: hidden;
    text-align: end;
    font-size: 40px;
    transition: 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: var(--btn-area);
    width: 92%;
    height: 70%;
    margin-inline: auto;
    border: 2px solid var(--dark);
}

.button {
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid var(--dark);
    /*width: 70%;
    height: 60%;*/
    margin: 6px;
    box-shadow: 0 0 7px var(--shadow);
    transition: 0.3s;
    color: var(--dark);
}

button.clean {
    grid-column: 1 / 4;
}

button.zero {
    grid-column: 1 / 2;
}

button.btn-light {
    background-color: var(--btn-light);
}

button.btn-dark {
    background-color: var(--btn-darker);
}

button.btn-darker {
    background-color: var(--btn-dark);
}

@media screen and (min-width: 769px) {
    button.btn-darker:hover {
        background-color: var(--btn-dark-hover);
    }

    button.btn-dark:hover {
        background-color: var(--btn-darker-hover);
    }
    
    button.btn-light:hover {
        background-color: var(--btn-light-hover);
    }
}

@media screen and (max-width:768px) {
    .calculator {
        width: 350px;
        height: 550px;
        margin-top: -30px;
    }

    #theme {
        margin-top: 30px;
    }

    .buttons {
        gap: 0;
    }
}